<?php

return [
    'isHealthy' => true, // true - server can recieve responses from Load Balancer. false - can`t.
    'databases' => [
        'main' => [
            'cert_path' => '/var/www/certs/mysql_db.crt',
            'host' => 'localhost',
            'port' => '3306',
            'user' => '123',
            'password' => '123',
            'db' => '123'
        ],
        'cases' => [
            'host' => 'localhost',
            'port' => '3306',
            'user' => '123',
            'password' => '123',
            'db' => '123'
        ]
    ],
];